In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from simulador import StochasticSimulator
from analitico import disponibilidade_vec

In [5]:
# gerar dados com combinações de valores de n, k e p
n = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
k = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
p = np.linspace(0, 1, 100)
dados = pd.DataFrame(
    [(ni, ki, pi) for ni in n for ki in k for pi in p if ki <= ni],  # escolhendo combinações de n, k e p em que k <= n
    columns=["n", "k", "p"],
)
dados["d"] = disponibilidade_vec(dados["n"], dados["k"], dados["p"])
dados

       n   k         p         d
0      1   1  0.000000  0.000000
1      1   1  0.010101  0.010101
2      1   1  0.020202  0.020202
3      1   1  0.030303  0.030303
4      1   1  0.040404  0.040404
...   ..  ..       ...       ...
5495  10  10  0.959596  0.662040
5496  10  10  0.969697  0.735124
5497  10  10  0.979798  0.815390
5498  10  10  0.989899  0.903460
5499  10  10  1.000000  1.000000

[5500 rows x 4 columns]